body {
    min-width: 1300px;
    margin: 0;
    font-size: 15px;
}

h1,
h2,
p {
    margin: 0;
}

/* header设置**************************************************************************************** */
header {
    position: relative;
    height: 60px;
}

.logo {
    float: left;
    margin-left: 100px;
    height: 60px;
}

.logo img {
    position: absolute;
    top: 30px;
    margin-top: -15px;
    width: 30px;
}

.logo h1 {
    display: inline-block;
    margin-left: 40px;
    font-size: 27px;
    line-height: 60px;
}

.nav {
    float: right;
    margin-right: 150px;
}

.nav ul {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.nav ul li {
    float: left;
    width: 100px;
    text-align: center;
    line-height: 60px;
}

.slider {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100px;
    margin-left: 0;
    background: red;
    transition: left 0.3s linear 0s;
}

.activity:hover ~ .slider {
    left: 100px;
}

.project:hover ~ .slider {
    left: 200px;
}

.community:hover ~ .slider {
    left: 300px;
}

.about-us:hover ~ .slider {
    left: 400px;
}

.log-in {
    position: relative;
    float: right;
    height: 60px;
    margin-right: 100px;
}

.log-in img {
    float: left;
    margin-top: 21px;
}

.log-in p {
    margin: 0 0 0 30px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 60px;
    color: orange;
}

.decoration {
    position: absolute;
    bottom: 13px;
    left: 30px;
    width: 0;
    height: 3px;
    background: red;
    transition: all 0.3s linear 0s;
}

.log-in p:hover {
    cursor: pointer;
}

.log-in p:hover + .decoration {
    width: 50px;
}

/* main设置**************************************************************************************** */
.banner {
    position: relative;
    height: 650px;
    background: no-repeat url("../images/pic01.jpg");
    background-size: cover;
}

.content {
    position: absolute;
    top: 200px;
    left: 130px;
    font-size: 20px;
    color: white;
}

.content h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

.content a {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration-line: none;
    color: white;
    background: orange;
}

.description {
    padding: 50px;
}

.description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.description ul li {
    display: inline-block;
    width: 23%;
    font-size: 13px;
    text-align: center;
    color: gray;
}

.description ul li p {
    margin-top: 50px;
}

.description ul li p:hover {
    color: red;
}

.border-r {
    border-right: 2px solid black;
}

.section1-1 {
    padding: 60px;
    font-size: 50px;
    text-align: center;
    background: rgb(219, 219, 219);
}

.section1-1 p {
    margin-top: 40px;
}

.section1-2 {
    /* width: 100%; */
    /* height: 300px; */
    padding: 80px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    background: no-repeat url("../images/pic02.jpg");
    background-size: cover;
}

.underline {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 20px;
    /* margin-top: 10px; */
    border-top: 2px solid white;
    transition: width 0.2s linear;
}

.underline:hover {
    width: 280px;
}

.underline + p {
    margin-bottom: 40px;
    font-size: 13px;
}

.search select,
.search [type="submit"] {
    width: 200px;
    height: 35px;
}

.search [type="submit"] {
    color: white;
    background: darkred;
    transition: background 0.1s;
}

.search [type="submit"]:hover {
    background: lightcoral;
}

.section1-3 {
    overflow: hidden;
    width: 100%;
    padding: 80px 0;
    background: rgb(219, 219, 219);
}

.section1-3 figure {
    float: left;
    width: 20%;
    margin: 0;
    text-align: center;
}

.section1-3 figure img {
    width: 190px;
    transition: all 0.3s linear;
}

.section1-3 .first {
    margin-left: 10%;
}

.section1-3 figure figcaption {
    font-size: 12px;
    line-height: 25px;
    color: gray;
    transition: all 0.3s ease-in;
}

.section1-3 .bigger {
    font-size: 15px;
    color: black;
    transition: font-size 0.3s ease-out;
}

.section1-3 figure img:hover {
    position: relative;
    top: 60px;
}

.section1-3 figure img:hover + figcaption {
    position: relative;
    bottom: 300px;
}

.section1-3 figure img:hover + figcaption .bigger {
    padding-left: 22px;
    font-size: 22px;
    letter-spacing: 25px;
}

.section2 {
    overflow: hidden;
}

.section2 .l {
    position: relative;
    float: left;
    width: 68%;
    height: 560px;
    margin: 0;
    background: no-repeat url("../images/pic07.jpg");
    background-size: cover;
}

.section2 .l .inner {
    margin-top: 150px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.section2 .l .inner p:first-child {
    font-size: 50px;
}

.section2 .l .inner p:nth-child(2) {
    font-size: 150px;
    line-height: 1;
}

.section2 .l .deco {
    position: absolute;
    top: 230px;
    right: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-bottom: 25px solid transparent;
}

.section2 .r {
    position: relative;
    float: left;
    width: 32%;
    height: 560px;
    text-align: center;
}

.section2 .r p:nth-child(2) {
    text-align: left;
}

.section2 .r .option {
    position: absolute;
    top: 160px;
    left: calc(50% - 140px);
    width: 280px;
    font-size: 14px;
    line-height: 1.5;
    color: gray;
}

.section2 .r .option p:first-child {
    font-size: 20px;
    font-style: bold;
    line-height: 4;
    color: black;
}

.section2 .r .option p span {
    color: red;
}

.section2 .r .option p:last-child {
    width: 100px;
    margin: 60px auto 0 auto;
    border: 1px solid orange;
}

.section2 .r .option p:last-child a {
    display: inline-block;
    width: 100px;
    height: 34px;
    color: red;
    text-decoration-line: none;    
    line-height: 34px;
}

.option3,
.option2,
.option1 {
    visibility: hidden;
    transition: visibility 0s;
}

.radio1:checked + .option1 {
    visibility: visible;
}

.radio2:checked + .option2 {
    visibility: visible;
}

.radio3:checked + .option3 {
    visibility: visible;
}

.radio1,
.radio2,
.radio3 {
    margin-top: 460px;
}

.section3 {
    display: flex;
    text-align: center;
}

.section3 > div {
    flex: 1;
    height: 500px;
}

.section3-1 {
    background: orangered;
    color: white;
}

.section3-3 {
    background: no-repeat url("../images/pic08.jpg");
    background-size: cover;
}

.section3-1,
.section3-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 .wrapper {
    font-size: 20px;
    line-height: 2;
}

.section3 .wrapper1 a {
    display: inline-block;
    margin-top: 10px;
    padding: 0 30px;
    border: 1px solid white;
    font-size: 20px;
    line-height: 2;
    text-decoration-line: none;
    color: white;
}

.section3 .wrapper2 a {
    display: inline-block;
    margin-top: 10px;
    padding: 0 30px;
    border: 1px solid orangered;
    font-size: 20px;
    line-height: 2;
    text-decoration-line: none;
    color: orangered;
}

.underline1:hover,
.underline2:hover {
    width: 170px;
}

.underline2 {
    border-top-color: orangered;
}

.section4 {
    font-size: 16px;
    color: gray;
}

.section4-1 {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.section4-1 > h2 {
    font-size: 20px;
    color: black;
}

.section4-1 > p {
    margin-top: 10px;
}

.underline3 {
    border-top: 2px solid orangered;
}

.section4-2 {
    display: flex;
    justify-content: space-around;
}

.protocol > ul {
    margin-right: -200px;
}

.protocol >ul > li {
    margin-bottom: 30px;
}

.protocol > ul > li > p:nth-child(1) {
    line-height: 3;
    color: black;
}

.protocol > ul > li > p:nth-child(3) {
    text-align: right;
}

.info > div {
    margin: 20px 0;
}

.info > div:nth-child(1) > input,
.info > div:nth-child(2) > input {
    width: 290px;
    margin-right: 20px;
    line-height: 2.5;
} 

.info > div:nth-child(3) > textarea {
    width: 610px;
}

.info > div:last-child > input {
    width: 620px;
    height: 40px;
}

.section5 {
    padding: 100px 0;
    text-align: center;
    font-size: 16px;
    /* line-height: 3; */
    color: white;
    background: rgb(66, 66, 66);
}

.section5 > p:first-child {
    font-size: 20px;
    line-height: 3;
}

.section5 > p:last-child {
    margin-top: 50px;
}

.section5 > p:last-child > input[type="email"] {
    width: 500px;
    height: 30px;
}

.section5 > p:last-child > input[type="submit"] {
    box-sizing: border-box;
    height: 30px;
}

/* 页脚设置********************************************************************************************** */
footer {
    height: 60px;
    padding: 0 100px;
    font-size: 13px;
    line-height: 60px;
    background: black;
    color: white;
}

footer p:first-child {
    float: left;
}

footer p:last-child {
    float: right;
}

footer > p:last-child > a {
    text-decoration-line: none;
    color: white;
}