body {
    width: 100%;
    margin: 0;
    background: #44565c;
    color: gray;
}

h2 {
    margin: 0;
}

.page {
    width: 900px;
    padding: 0 40px;
    margin: 0 auto;
    background: whitesmoke;
}

header {
    display: table;
    width: 100%;
    border-bottom: 4px solid gray;
}

.logo {
    display: table-cell;
    vertical-align: bottom;
    width: 120px;
    height: 60px;
    font-size: 12px;
    color: white;
    background: rosybrown;
}

.date {
    display: table-cell;
    vertical-align: bottom;
    font-size: 12px;
    text-align: right;
    color: rosybrown;
}

main {
    margin: 30px 0;
}

.about {
    float: right;
    width: 25%;
    border-top: 4px solid rosybrown;
}

.about > h2 {
    font-size: 18px;
    text-decoration-line: underline;
}

.about  p:nth-child(2) {
    margin: 0;
    font-size: 12px;
    color: gray;
}

.about p:nth-child(3) {
    margin: 30px 0 0;
    font-size: 100px;
    color: green;
}

.about p:nth-child(4) {
    margin: 0;
    font-size: 12px;
    color: rosybrown;
}

.about p:nth-child(4) span:nth-child(1) {
    float: left;
    font-size: 50px;
    margin-right: 20px;
}

.about p:nth-child(4) span:nth-child(2) {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 20px;
}

.banner {
    width: 620px;
    position: relative;
}

.banner img {
    width: 620px;
    height: 300px;
}

.left-mask {
    position: absolute;
    width: 30%;
    height: 300px;
    background: rgba(107, 142, 35, 0.3);
}

.right-mask {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 300px;
    background: rgba(218, 112, 214, 0.3);
}

.column-what,
.column-when,
.column-how {
    float: left;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.column-what {
    width: 220px;
    margin-right: 40px;
}

.column-when {
    width: 180px;
    margin-right: 40px;
}

.column-how {
    width: 120px;
}

.column-how h2,
.column-what h2,
.column-when h2 {
    text-decoration-line: underline;
    font-size: 18px;
}

.column-what h2 {
    color: green;
}

.column-when h2 {
    color: orange;
}

.column-how h2 {
    color: red;
}

.main-article {
    clear: both;
    position: relative;
    width: 100%;
}

.left-article {
    width: 50%;
    font-size: 12px;
}

.left-article h1 {
    border-bottom: 4px solid rgb(11, 11, 105);
    padding-bottom: 10px;
    font-size: 35px;
    color: rgb(11, 11, 105);
}

.left-article span {
    font-size: 60px;
    color: rgb(214, 214, 18);
}

.ital {
    padding-right: 20px;
    font-style: italic;
}

.first-letter {
    float: left;
    margin-right: 10px;
    margin-top: -20px;
}

.left-article img {
    float: right;
    width: 250px;
    padding: 20px 20px;
}

.left-article p {
    margin: 0;
    text-indent: 2em;
}

.pic {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.pic img {
    width: 420px;
    vertical-align: text-bottom;
}

.pic figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 60px;
    font-size: 12px;
    color: green;
    background: rgba(128, 128, 128, 0.3);
}

.pic figcaption span {
    padding-left: 20px;
    border-left: 2px solid green;
    font-size: 24px;
    color: white;
}

.container-rb {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    background: #ffebcd;
}

.top {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.triangle  {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid blue;
}

.top span {
    font-size: 16px;
    line-height: 2.5;
}

.top span span {
    font-size: 14px;
    font-style: italic;
}

.l {
    float: left;
    background: #ff1493;
    color: white;
}

.l > span {
    font-size: 100px;
}

.l p {
    display: inline-block;
    border-left: 2px solid white;
    padding-left: 10px;
}

.big {
    font-size: 17px;
    font-style: italic;
}

.small {
    font-size: 12px;
    line-height: 12px;
}

.r {
    font-size: 13px;
}

.r span {
    font-size: 50px;
    color: red;
}

.r span:nth-child(1) {
    vertical-align: text-bottom;
}

.r span:nth-child(2) {
    vertical-align: text-top;
}

footer {
    height: 60px;
    border-top: 2px solid gray;
}

footer span {
    float: right;
    font-size: 12px;
    color: red;
}